<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/assets/common/css/app.css}">
	<!--<link rel="stylesheet" th:href="@{/assets/lib/choices/base.min.css}">-->
	<link rel="stylesheet" th:href="@{/assets/lib/choices/choices.min.css}">
	<link rel="stylesheet" th:href="@{/assets/lib/fontawesome/css/all.css}">


</th:block>
<header th:fragment="header" class="app-header">

	<div class="flex-1 mx-6 overflow-hidden">
		<div class="marquee-wrapper">
			<div class="marquee-content" id="marqueeContent">
				<span id="marqueeContenttext1"></span>
				<span id="marqueeContenttext2"></span>
			</div>
		</div>
	</div>

	<button onclick="location.reload()" class="header-btn">
		<i class="fa-solid fa-rotate-right"></i>
	</button>

</header>



</html>