<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/app.html}">

<th:block layout:fragment="head">
	<title>Dashboard</title>
</th:block>

<div layout:fragment="content" class="p-4">


	<link rel="stylesheet" th:href="@{/assets/lib/pagination/pagination.css}" />



	<!-- Modal Backdrop -->
	<div id="itemModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">

		<!-- Modal Box -->
		<div class="bg-white w-full max-w-lg rounded-xl shadow-lg p-6">

			<h2 class="text-lg font-semibold mb-4">Add / Edit Item</h2>

			<!-- Hidden ID -->
			<input type="hidden" id="itemId">

			<div class="grid grid-cols-1 gap-4">

				<div>
					<label class="text-sm font-medium">Item Code</label>
					<input id="itemCode" type="text"
						class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300">
				</div>

				<div>
					<label class="text-sm font-medium">Item Group</label>
					<input id="itemGroup" type="text"
						class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300">
				</div>

				<div>
					<label class="text-sm font-medium">Item Name</label>
					<input id="itemName" type="text"
						class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300">
				</div>

				<div>
					<label class="text-sm font-medium">Base Unit</label>
					<select id="baseUnit"
						class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300">
						<option value="">-- Select --</option>

						<option th:each="u : ${utype}" th:value="${u}" th:text="${u}">
						</option>
					</select>
				</div>

				<div>
					<label class="text-sm font-medium">Description</label>
					<textarea id="description" rows="3"
						class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-indigo-300"></textarea>
				</div>

			</div>

			<div class=" mt-2">
				<div class="errorAppendArea"></div>
			</div>

			<div class="flex justify-end gap-3 mt-6">
				<button onclick="closeItemModal()" class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-gray-300">
					Cancel
				</button>
				<button onclick="validateItemData()" id="updateOrSaveItem" data-up="0"
					class="px-4 py-2 rounded-lg bg-indigo-600 text-white hover:bg-indigo-700">
					Save
				</button>
			</div>

		</div>
	</div>



	<div
		class="overflow-x-auto mt-2 bg-neutral-primary-soft block border border-default border-t-4 rounded-base shadow-xs">

		<div class="flex items-center my-10">
			<div class="flex-grow border-b-2 border-blue-500"></div>
			<span class="px-4 text-2xl font-bold text-gray-800">Item Master</span>
			<div class="flex-grow border-b-2 border-blue-500"></div>
		</div>

		<div class="flex justify-end mb-2 mx-2 gap-3">
			<button class="add-btn" id="addNewItemBtn">Add New</button>
			<button class="excel-btn" id="excelExportVendor">Export Excel</button>
			<button class="print-btn" id="htmlPrintVendor">Print</button>

		</div>
		<div class="relative">

			<div id="tableLoader"
				class="absolute inset-0 bg-white/60 backdrop-blur-sm flex items-center justify-center hidden z-10">
				<div class="h-10 w-10 border-4 border-blue-500 border-t-transparent rounded-full animate-spin">
				</div>
			</div>

			<div id="pagination">
				<table class="app-table" id="vendorTable">
					<thead> </thead>
					<tbody></tbody>
					<tfoot></tfoot>
				</table>
			</div>
		</div>
	</div>

	<input type="hidden" th:value="${vtype}" id="vendorType">
</div>


<div layout:fragment="scripts">
	<script th:src="@{/assets/lib/excel/exceljs.min.js}"></script>
	<script th:src="@{/assets/lib/excel/common.js}"></script>
	<script th:src="@{/assets/lib/pagination/pagination.js}"></script>

	<script th:src="@{/assets/modules/reports/common.js}"></script>
	<script th:src="@{/assets/modules/inventory/item.js}"></script>
</div>

</html>